h3{
    margin: 0px;
    color: black;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
}

.food_image img{
    height: 140px;
    width: 140px;
    border-radius: 30px;
    margin-left: 7px;
    margin-top: 8px;
    margin-right: 5px;
}

.FoodCards{
    height: 700px;
}

p{
    color: black;
    margin-top: 4px;
    font-size: 12px;
}

.food_top{
    width: 340px;
    height: 167px;
    border: 1.5px solid;
  
    border-image-source: radial-gradient(
        80.69% 208.78% at 108.28% 112.58%,
        #eabfff 0%,
        rgba(135, 38, 183, 0) 100%
      ),
      radial-gradient(
        80.38% 222.5% at -13.75% -12.36%,
        #98f9ff 0%,
        rgba(255, 255, 255, 0) 100%
      );
  
    background: url(.png),
      radial-gradient(
        90.16% 143.01% at 15.32% 21.04%,
        rgba(165, 239, 255, 0.2) 0%,
        rgba(110, 191, 244, 0.0447917) 77.08%,
        rgba(70, 144, 213, 0) 100%
      );
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(13.1842px);
  
    border-radius: 20px;
    display: flex;
    padding-top: 7px;
}

.food_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.food_info button{
    font-size: 12px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}